<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Start Me Up</title>
        <link href="/styles/clock.css" rel="stylesheet" />
    </head>
    <body>
        <div id="dashboard">
            <div id="top-section">
                <div id="clock-section">
                    <div id="clock"></div>
                </div>
                <div id="weather-section">
                    <div id="weather">Loading weather...</div>
                </div>
            </div>

            <div id="links-section">
                {{#each links}}
                <a href="{{this.url}}" target="_blank" class="app-icon">
                    <img src="{{this.icon}}" alt="{{this.text}} icon" />
                    <span>{{this.text}}</span>
                </a>
                {{/each}}
            </div>
        </div>

        <script src="/js/clock.js"></script>
        <script src="/js/weather.js"></script>
    </body>
</html>
